datasets/
.idea
simple_translator/weights
simple_translator/data
simple_translator_bucketing/weights
simple_translator_bucketing/data
simple_translator_bahdanau_att/data
simple_translator_bahdanau_att/weights